body{
	margin:0;
	padding: 0;
	bottom: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	margin-right:40px; 
	text-align: right;
}
li{
	display: inline-block;
	padding: 10px;

}
a {text-decoration: none;}
.header{
	margin-bottom: 10px; 
}
.inner-header{
	background: lightgray;
	height:100px;
}
.content{
	margin-left: 10%; 
	width: 80%; 
	margin-bottom: 10px; 
}
.inner-content{
	background: lightgray;
	min-height: 900px;
	margin-bottom: 50px; 

}
.sorting{
	display: inline-block;
}

.blocks img{
	width:  33%;
	height: 450px;
	display: inline;
	margin-bottom: 40px;
	box-sizing: border-box;

}
.navigation ul{
	text-align: right;
	width:  100%;
}
.footer{
	margin-bottom: 10px; 
}
.inner-footer{
	background: lightgray;
	height:150px;
}
.footer-iccon img{
	padding: 10px;
	width: 100px;
	display: inline;
}